---
---

<footer class="bg-primary mt-16 md:px-20 grid md:grid-cols-4 text-white font-normal md:content-between md:gap-4 gap-12 md:py-8 pt-20 px-4 pb-4">
    <ul class="flex flex-col gap-2">
        <li><a href="">{'Sobre Nosotros'}</a></li>
        <li><a href="">{'Planes y Convenios'}</a></li>
        <li><a href="">{'Servicio al Cliente'}</a></li>
    </ul>
    <ul class="flex flex-col gap-2">
        <li>
            <a href="">{'Privacidad'}</a>
        </li>
        <li>
            <a href="">{'Términos y Condiciones'}</a>
        </li>
    </ul>
    <div></div>
    <div></div>
    <div class="col-span-4 md:flex justify-between text-blue-300">
        <p>{'Oakland -Energy Consulting ©'}</p>
        <p>{'Design by Ferréh'}</p>
    </div>
</footer>