---
---

<section class="relative">   
    <article class="h-[calc(100vh_-_90px)]">
        <h2>Cuida tu salud con </h2>
        <h1>Ese Norte 3</h1>
        <p>Tenemos un equipo comprometido y dedicado que trabaja incansablemente para ofrecer la mejor atención.</p>
    </article>
    <article class="absolute bottom-0 right-0">
        <img src="/cover.png" alt="Doctors">
    </article>
</section>