---
import { Button } from "@/components/ui/button";

---

<section class="px-4 md:px-20 space-y-3">
    <h3 class="font-normal text-2xl">Conoce nuestros Planes</h3>
    <p class="prose">En IntegraMédica ponemos a tu disposición distintos planes y convenios especiales diseñados para facilitar tu acceso y el de tu familia a las diferentes atenciones médicas y dentales que entregamos en nuestra red de centros médicos. Conoce cada uno de ellos.</p>
    <Button variant={'ghost'} className="px-0 border-b-2 rounded-none border-primary text-primary hover:bg-transparent">{'Contact us ->'}</Button>
</section>