---
import { Button } from "@/components/ui/button";
---
<section id="recruitment" class="relative py-12 md:px-20 bg-zinc-100 h-[500px] flex items-center justify-end md:my-20">


    <div class="flex-shrink-0 w-full lg:w-[400px] md:absolute left-40 bottom-12 hidden md:block">
      <img
        src="/doctors-walking.png"
        alt="Equipo médico caminando"
        class="rounded-lg w-full object-cover"
      />
    </div>

    <div class="lg:w-1/2 text-center lg:text-left prose px-4">
      <h2 class="text-4xl font-regular text-zinc-700 mb-4 leading-tight font-normal">
        ¿Eres Médico y quieres trabajar con nosotros?
      </h2>
      <p class="text-base text-zinc-500 mb-6 leading-relaxed">
        Nuestro propósito es ayudar a las personas a tener vidas más largas,
        sanas, felices y crear un mundo mejor. Además, queremos ser la compañía
        de salud más centrada en el cliente del mundo. ¡Acompáñanos en este desafío!
      </p>
      <Button >
          {'Ver más información'}
      </Button>
    </div>
  </section>