---

---

<section id='services' class='bg-white py-12 px-4 md:px-12'>
  <h2 class='text-left text-4xl font-normal mb-4 text-zinc-700'>
    Conoce nuestros servicios
  </h2>
  <p class='text-start text-base text-zinc-500 mb-8'>
    Médico general que cuente con disponibilidad de tiempo para laborar en la
    ESE NORTE 3, punto de atención Padilla, Cauca.
  </p>
  <div class='grid grid-cols-2 md:grid-cols-2 lg:grid-cols-4 gap-4'>
    <div>
      <img class='rounded-lg' src='/service1.png' alt='Clínicas Dentales' />
      <h3 class='text-lg font-normal text-start mt-4'>Clínicas Dentales</h3>
    </div>
    <div>
      <img class='rounded-lg' src='/service2.png' alt='Consultas Médicas' />
      <h3 class='text-lg font-normal text-start mt-4'>Consultas Médicas</h3>
    </div>
    <div>
      <img class='rounded-lg' src='/service3.png' alt='Servicio de Pediatría' />
      <h3 class='text-lg font-normal text-start mt-4'>Servicio de Pediatría</h3>
    </div>
    <div>
      <img
        class='rounded-lg'
        src='/service4.png'
        alt='Exámenes de Laboratorio'
      />
      <h3 class='text-lg font-normal text-start mt-4'>
        Exámenes de Laboratorio
      </h3>
    </div>
  </div>
  <div class='flex flex-col items-end gap-[3.75rem] mt-[1.25rem] md:mt-12'>
    <p class='text-base text-zinc-500 max-w-lg md:text-right proce'>
      En nuestra extensa red de centros médicos te ofrecemos un completo equipo
      de médicos y especialistas preparados para atenderte a ti y a tu familia.
    </p>
  </div>
</section>
